<!DOCTYPE html>
<html>
  <head>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
      #widget {
        width: 10vw;
        height: 10vh;
        border-style: solid 1px;
      }
      table tr td{
          padding : 10px;
      }
    </style>
  </head>
  <body>
    <div id="widget" title="Top News ">
        <table border="1">
            <th>
                <td> Product</td>
                <td>Value</td>
            </th>
            <tbody>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
  </body>
  <script type="text/javascript">
    $( function() {
        $( "#widget" ).dialog();
  } );
  </script>
</html>
