<!DOCTYPE html>
<html>
<style>
  form {
    margin: auto;
    width: 35%;
  }

  .result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
  }
</style>

<head>
  <title>Inventory Sales Model</title>
</head>
<form action="{{ url_for('main2') }}" method="POST">
  <fieldset>
    <legend>Click to refresh predictions</legend>
    <!-- item_id:
    <input name="item_id" type="number" required />
    <br />
    <br />
    firm_id:
    <input name="firm_id" type="number" required /> -->
    <br />
    <input value="Refresh" type="submit" />
  </fieldset>
</form>
<br />
<div class="result" align="center">
  {% if result %}
  <br />
  <br />
  {{ result }} {% endif %}
</div>

</html>